apiVersion: apps/v1
kind: Deployment
metadata:
    name: cloudflared
    namespace: headscale
    labels:
        app: cloudflared
spec:
    replicas: 2
    selector:
        matchLabels:
            app: cloudflared
    template:
        metadata:
            labels:
                app: cloudflared
        spec:
            containers:
                - name: cloudflared
                  image: cloudflare/cloudflared:latest
                  imagePullPolicy: IfNotPresent
                  command:
                      - cloudflared
                      - tunnel
                      - --no-autoupdate
                      - run
                      - --token
                      - $(CLOUDFLARE_TUNNEL_TOKEN)
                  env:
                      - name: CLOUDFLARE_TUNNEL_TOKEN
                        valueFrom:
                            secretKeyRef:
                                name: cloudflared-credentials
                                key: token
                      - name: TZ
                        value: "Asia/Tokyo"
                  resources:
                      requests:
                          memory: "64Mi"
                          cpu: "50m"
                      limits:
                          memory: "128Mi"
                          cpu: "200m"
            securityContext:
                runAsUser: 65532
                runAsNonRoot: true
                fsGroup: 65532
